.card{
  width:280px;
  background:white;
  padding:20px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.profile-img{
  width:100px;
  height:100px;
  border-radius:50%;
}

.status{
  background:#4CAF50;
  color:white;
  padding:6px 12px;
  border-radius:20px;
}
